a, a:visited {color:#008B8B;}
a:hover {color:#303030;text-decoration:none;}
.top-social-bar .btn-default{background:#008B8B!important;}
.language-swcher .form-control{background:#008B8B;}
.btn-primary, input[type="button"], input[type="submit"], input[type="reset"], button{background:#008B8B;}
.member-app .btn-primary:hover{background: #008B8B;}
.newsletter-main .btn-default{background: #008B8B;}
/*-- Home Page One Start --*/
#header {border-top: 4px solid #008B8B;}
#header .header-info span i{color: #008B8B;}
#header .header-info{color: #008B8B;}
.social a{background:#008B8B;color:#fff;}
#header form input[type="submit"]{background-color:#008B8B;}
	/*-- Header Top End--*/
#navigation .menu > li > a:hover, #navigation .menu > li.current > a{border-top: 3px solid #008B8B;}
.features-main .header h2{color: #008B8B;}
.services-main .item i{background-color:#008B8B;}
.appointment-main .pull-left h3{color: #008B8B;}
.btn-custom, input[type="button"], input[type="submit"], input[type="reset"], button{background-color:#008B8B;}
.app-bg{border-right: 4px solid #008B8B;}
.navbar-default .navbar-brand{color:#008B8B;}
.sub-header h5{color:#008B8B;}
.testimonials-main #quote-carousel .carousel-control.right{background:#008B8B;}
.testimonials-main #quote-carousel .carousel-control.left{background:#008B8B;}
.testimonials-main .author strong{color:#008B8B;}
address p.text-default{color:#008B8B!important;}
#footer-bottom .text-default{color:#008B8B;}
.services-main .item:hover i {color:#008B8B;border:3px solid #008B8B;}
.testimonials-second-main #quote-carousel .carousel-control.right{background: #008B8B;}
.testimonials-second-main #quote-carousel .carousel-control.left{background: #008B8B;}
.testimonials-second-main .author strong{color:#008B8B;}
.panel-primary > .panel-heading{background: #008B8B;}
.progress-bar-info{background: #008B8B;}
.popover-content{border-top: 2px solid #008B8B;}
.header h2{color:#008B8B;}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, 
.pagination > .active > span:focus{background: #008B8B;}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{background: #008B8B;}
.navbar-default .navbar-nav li .dropdown-menu li a.active{border:0px;}
.error_bg{background: #008B8B;}
.error_text h2{color: #008B8B;}
.right-side-bar a{color: #008B8B;}
.contact-form-main h5{color: #008B8B;}
.contact-form-main address p{color: #008B8B;}
#footer{border-top: 4px solid #008B8B;}
.footer-bottom .text-default{color: #008B8B;}
.healthy_home_balck .language-swcher .form-control {background:#008B8B;}

/*-- Home Page One End--*/