body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1114px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:104px;
  top:-8px;
  width:1010px;
  height:601px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1011px;
  height:602px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:136px;
  top:23px;
  width:139px;
  height:87px;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:88px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:135px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:285px;
  top:86px;
  width:118px;
  height:24px;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:136px;
  top:120px;
  width:946px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:937px;
  top:-5px;
  width:14px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:946px;
  height:1px;
}
#u7 {
  position:absolute;
  left:136px;
  top:147px;
  width:947px;
  height:420px;
  overflow:hidden;
}
#u7_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:947px;
  height:420px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:17px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:36px;
  width:160px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10_input {
  font-family:'应用字体';
}
#u11 {
  position:absolute;
  left:170px;
  top:36px;
  width:151px;
  height:26px;
  overflow:hidden;
}
#u11_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:26px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
  color:#A1A1A1;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:26px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  word-wrap:break-word;
}
#u11_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:26px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
  color:#A1A1A1;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:26px;
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  word-wrap:break-word;
}
#u11_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:26px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
  color:#A1A1A1;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:26px;
}
#u17 {
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  word-wrap:break-word;
}
#u11_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:26px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18 {
  position:absolute;
  left:0px;
  top:6px;
  width:98px;
  height:16px;
  text-decoration:underline;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:83px;
  width:89px;
  height:25px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:26px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:85px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:178px;
  top:97px;
  width:298px;
  height:193px;
  overflow:hidden;
  visibility:hidden;
}
#u22_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:193px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u22_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:0px;
  top:25px;
  width:297px;
  height:167px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:168px;
}
#u24 {
  position:absolute;
  left:2px;
  top:76px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:20px;
  top:52px;
  width:257px;
  height:34px;
  font-size:15px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:35px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:98px;
  top:116px;
  width:85px;
  height:25px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
}
#u28 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:25px;
  color:#FFFFFF;
  text-align:left;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:26px;
}
#u30 {
  position:absolute;
  left:2px;
  top:4px;
  width:293px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:261px;
  top:5px;
  width:36px;
  height:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u7_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:947px;
  height:420px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33 {
  position:absolute;
  left:251px;
  top:133px;
  width:386px;
  height:22px;
  font-size:18px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:23px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  word-wrap:break-word;
}
#u7_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:947px;
  height:420px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:251px;
  top:133px;
  width:386px;
  height:22px;
  font-size:18px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:23px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  word-wrap:break-word;
}
