body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:0px;
  width:800px;
  height:550px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:551px;
}
#u1 {
  position:absolute;
  left:2px;
  top:267px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:228px;
  top:37px;
  width:90px;
  height:82px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:83px;
}
#u3 {
  position:absolute;
  left:2px;
  top:33px;
  width:86px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:245px;
  top:158px;
  width:16px;
  height:17px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u5 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:228px;
  top:204px;
  width:531px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:522px;
  top:-5px;
  width:14px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:531px;
  height:1px;
}
#u7 {
  position:absolute;
  left:261px;
  top:162px;
  width:146px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:137px;
  top:-5px;
  width:14px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:146px;
  height:1px;
}
#u8 {
  position:absolute;
  left:228px;
  top:185px;
  width:69px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:555px;
  top:185px;
  width:69px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:376px;
  top:185px;
  width:98px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:569px;
  top:158px;
  width:16px;
  height:17px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u15 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:423px;
  top:162px;
  width:146px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:137px;
  top:-5px;
  width:14px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:146px;
  height:1px;
}
#u17 {
  position:absolute;
  left:731px;
  top:158px;
  width:16px;
  height:17px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u18 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:585px;
  top:162px;
  width:146px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:137px;
  top:-5px;
  width:14px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:146px;
  height:1px;
}
#u20 {
  position:absolute;
  left:731px;
  top:185px;
  width:69px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:245px;
  top:231px;
  width:291px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:17px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:245px;
  top:262px;
  width:148px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24_input {
  font-family:'应用字体';
}
#u25 {
  position:absolute;
  left:245px;
  top:305px;
  width:328px;
  height:35px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:36px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:324px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:407px;
  top:158px;
  width:16px;
  height:17px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u28 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:407px;
  top:262px;
  width:148px;
  height:26px;
  overflow:hidden;
}
#u29_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:26px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u29_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
  color:#A1A1A1;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:26px;
}
#u31 {
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  word-wrap:break-word;
}
#u29_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:26px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u29_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
  color:#A1A1A1;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:26px;
}
#u33 {
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  word-wrap:break-word;
}
#u29_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:26px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u29_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
  color:#A1A1A1;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:26px;
}
#u35 {
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  word-wrap:break-word;
}
#u29_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:26px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u29_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36 {
  position:absolute;
  left:0px;
  top:6px;
  width:98px;
  height:16px;
  text-decoration:underline;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:441px;
  top:224px;
  width:298px;
  height:193px;
  overflow:hidden;
  visibility:hidden;
}
#u38_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:193px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u38_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39 {
  position:absolute;
  left:0px;
  top:25px;
  width:297px;
  height:167px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:168px;
}
#u40 {
  position:absolute;
  left:2px;
  top:76px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:20px;
  top:52px;
  width:257px;
  height:34px;
  font-size:15px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:35px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:98px;
  top:116px;
  width:85px;
  height:25px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
}
#u44 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:25px;
  color:#FFFFFF;
  text-align:left;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:26px;
}
#u46 {
  position:absolute;
  left:2px;
  top:4px;
  width:293px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:261px;
  top:5px;
  width:36px;
  height:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
