body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:99px;
  top:73px;
  width:1001px;
  height:1506px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:1507px;
}
#u1 {
  position:absolute;
  left:2px;
  top:745px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:132px;
  top:120px;
  width:227px;
  height:28px;
  font-size:24px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:29px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:100px;
  top:1579px;
  width:1000px;
  height:126px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:127px;
}
#u6 {
  position:absolute;
  left:2px;
  top:55px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:120px;
  top:1589px;
  width:85px;
  height:76px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:77px;
}
#u8 {
  position:absolute;
  left:2px;
  top:30px;
  width:81px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:406px;
  top:1589px;
  width:10px;
  height:76px;
}
#u9_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u9_end {
  position:absolute;
  left:-5px;
  top:67px;
  width:20px;
  height:14px;
}
#u9_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:76px;
}
#u10 {
  position:absolute;
  left:696px;
  top:1589px;
  width:10px;
  height:76px;
}
#u10_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u10_end {
  position:absolute;
  left:-5px;
  top:67px;
  width:20px;
  height:14px;
}
#u10_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:76px;
}
#u11 {
  position:absolute;
  left:497px;
  top:1627px;
  width:64px;
  height:16px;
  text-decoration:underline;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:421px;
  top:1627px;
  width:66px;
  height:16px;
  text-decoration:underline;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:571px;
  top:1627px;
  width:84px;
  height:16px;
  text-decoration:underline;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:361px;
  top:1679px;
  width:500px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:17px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:227px;
  top:1627px;
  width:66px;
  height:16px;
  text-decoration:underline;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:752px;
  top:1627px;
  width:109px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:17px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:706px;
  top:1627px;
  width:43px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:851px;
  top:1627px;
  width:43px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:893px;
  top:1627px;
  width:109px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:17px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:293px;
  top:1627px;
  width:66px;
  height:16px;
  text-decoration:underline;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:227px;
  top:1591px;
  width:66px;
  height:16px;
  text-decoration:underline;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:420px;
  top:1589px;
  width:67px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:17px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:706px;
  top:1591px;
  width:66px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:132px;
  top:209px;
  width:398px;
  height:40px;
  font-size:20px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:41px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:394px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:530px;
  top:209px;
  width:219px;
  height:40px;
  font-size:20px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:215px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:530px;
  top:249px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u42 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:530px;
  top:289px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u44 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:530px;
  top:329px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u46 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:530px;
  top:369px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u48 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:530px;
  top:409px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u50 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:530px;
  top:449px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u52 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:530px;
  top:489px;
  width:219px;
  height:40px;
  font-size:28px;
  color:#FF0000;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u54 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:530px;
  top:529px;
  width:219px;
  height:40px;
  font-size:28px;
  color:#FF0000;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u56 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:530px;
  top:569px;
  width:219px;
  height:40px;
  font-size:28px;
  color:#FF0000;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u58 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:530px;
  top:609px;
  width:219px;
  height:40px;
  font-size:28px;
  color:#FF0000;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u60 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:530px;
  top:768px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u62 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:530px;
  top:808px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u64 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:229px;
  top:249px;
  width:301px;
  height:40px;
  font-size:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:41px;
}
#u66 {
  position:absolute;
  left:2px;
  top:10px;
  width:297px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:132px;
  top:249px;
  width:97px;
  height:160px;
  font-size:18px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:161px;
}
#u68 {
  position:absolute;
  left:2px;
  top:69px;
  width:93px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:229px;
  top:289px;
  width:301px;
  height:40px;
  font-size:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:41px;
}
#u70 {
  position:absolute;
  left:2px;
  top:10px;
  width:297px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:229px;
  top:329px;
  width:301px;
  height:40px;
  font-size:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:41px;
}
#u72 {
  position:absolute;
  left:2px;
  top:10px;
  width:297px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:229px;
  top:369px;
  width:301px;
  height:40px;
  font-size:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:41px;
}
#u74 {
  position:absolute;
  left:2px;
  top:10px;
  width:297px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:229px;
  top:409px;
  width:301px;
  height:40px;
  font-size:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:41px;
}
#u76 {
  position:absolute;
  left:2px;
  top:10px;
  width:297px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:229px;
  top:449px;
  width:301px;
  height:40px;
  font-size:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:41px;
}
#u78 {
  position:absolute;
  left:2px;
  top:10px;
  width:297px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:132px;
  top:409px;
  width:97px;
  height:80px;
  font-size:18px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:81px;
}
#u80 {
  position:absolute;
  left:2px;
  top:29px;
  width:93px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:132px;
  top:489px;
  width:97px;
  height:280px;
  font-size:18px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:281px;
}
#u82 {
  position:absolute;
  left:2px;
  top:129px;
  width:93px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:132px;
  top:768px;
  width:97px;
  height:240px;
  font-size:18px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:241px;
}
#u84 {
  position:absolute;
  left:2px;
  top:109px;
  width:93px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:229px;
  top:768px;
  width:301px;
  height:40px;
  font-size:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:41px;
}
#u86 {
  position:absolute;
  left:2px;
  top:10px;
  width:297px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:229px;
  top:808px;
  width:301px;
  height:40px;
  font-size:16px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:41px;
}
#u88 {
  position:absolute;
  left:2px;
  top:10px;
  width:297px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:229px;
  top:848px;
  width:301px;
  height:40px;
  font-size:16px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:41px;
}
#u90 {
  position:absolute;
  left:2px;
  top:10px;
  width:297px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:229px;
  top:888px;
  width:301px;
  height:40px;
  font-size:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:41px;
}
#u92 {
  position:absolute;
  left:2px;
  top:10px;
  width:297px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:229px;
  top:928px;
  width:301px;
  height:40px;
  font-size:16px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:41px;
}
#u94 {
  position:absolute;
  left:2px;
  top:10px;
  width:297px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:229px;
  top:968px;
  width:301px;
  height:40px;
  font-size:16px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:41px;
}
#u96 {
  position:absolute;
  left:2px;
  top:10px;
  width:297px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:530px;
  top:848px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u98 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:530px;
  top:888px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u100 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:530px;
  top:928px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u102 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:530px;
  top:968px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u104 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:749px;
  top:209px;
  width:219px;
  height:40px;
  font-size:20px;
  color:#FFFFFF;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u106 {
  position:absolute;
  left:2px;
  top:8px;
  width:215px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:749px;
  top:249px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u108 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:749px;
  top:289px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u110 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:749px;
  top:329px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u112 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:749px;
  top:369px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u114 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:749px;
  top:409px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u116 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:749px;
  top:449px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u118 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:749px;
  top:768px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u120 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:749px;
  top:808px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u122 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:749px;
  top:848px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u124 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:749px;
  top:888px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u126 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:749px;
  top:928px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u128 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:749px;
  top:968px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u130 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:530px;
  top:649px;
  width:219px;
  height:40px;
  font-size:28px;
  color:#FF0000;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u132 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:530px;
  top:689px;
  width:219px;
  height:40px;
  font-size:28px;
  color:#FF0000;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u134 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:229px;
  top:489px;
  width:301px;
  height:40px;
  font-size:16px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:41px;
}
#u136 {
  position:absolute;
  left:2px;
  top:10px;
  width:297px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:229px;
  top:529px;
  width:301px;
  height:40px;
  font-size:16px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:41px;
}
#u138 {
  position:absolute;
  left:2px;
  top:10px;
  width:297px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:229px;
  top:569px;
  width:301px;
  height:40px;
  font-size:16px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:41px;
}
#u140 {
  position:absolute;
  left:2px;
  top:10px;
  width:297px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:229px;
  top:609px;
  width:301px;
  height:40px;
  font-size:16px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:41px;
}
#u142 {
  position:absolute;
  left:2px;
  top:10px;
  width:297px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:229px;
  top:649px;
  width:301px;
  height:40px;
  font-size:16px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:41px;
}
#u144 {
  position:absolute;
  left:2px;
  top:10px;
  width:297px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:229px;
  top:689px;
  width:301px;
  height:40px;
  font-size:16px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:41px;
}
#u146 {
  position:absolute;
  left:2px;
  top:10px;
  width:297px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:530px;
  top:729px;
  width:219px;
  height:40px;
  font-size:28px;
  color:#FF0000;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u148 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:229px;
  top:729px;
  width:301px;
  height:40px;
  font-size:16px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:41px;
}
#u150 {
  position:absolute;
  left:2px;
  top:10px;
  width:297px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:749px;
  top:489px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u152 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:749px;
  top:529px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u154 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:749px;
  top:569px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u156 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:749px;
  top:609px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u158 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:749px;
  top:649px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u160 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:749px;
  top:689px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u162 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:749px;
  top:729px;
  width:219px;
  height:40px;
  font-size:28px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:41px;
}
#u164 {
  position:absolute;
  left:2px;
  top:4px;
  width:215px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:132px;
  top:1048px;
  width:263px;
  height:40px;
  color:#FFFFFF;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:41px;
}
#u166 {
  position:absolute;
  left:2px;
  top:12px;
  width:259px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:395px;
  top:1048px;
  width:192px;
  height:40px;
  color:#FFFFFF;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:41px;
}
#u168 {
  position:absolute;
  left:2px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:586px;
  top:1048px;
  width:192px;
  height:40px;
  color:#FFFFFF;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:41px;
}
#u170 {
  position:absolute;
  left:2px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:778px;
  top:1048px;
  width:192px;
  height:40px;
  color:#FFFFFF;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:41px;
}
#u172 {
  position:absolute;
  left:2px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:132px;
  top:1088px;
  width:263px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:41px;
}
#u174 {
  position:absolute;
  left:2px;
  top:10px;
  width:259px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:395px;
  top:1088px;
  width:192px;
  height:40px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:41px;
}
#u176 {
  position:absolute;
  left:2px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:586px;
  top:1088px;
  width:192px;
  height:40px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:41px;
}
#u178 {
  position:absolute;
  left:2px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:778px;
  top:1088px;
  width:192px;
  height:40px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:41px;
}
#u180 {
  position:absolute;
  left:2px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:132px;
  top:1128px;
  width:263px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:41px;
}
#u182 {
  position:absolute;
  left:2px;
  top:10px;
  width:259px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:395px;
  top:1128px;
  width:192px;
  height:40px;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:41px;
}
#u184 {
  position:absolute;
  left:2px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:586px;
  top:1128px;
  width:192px;
  height:40px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:41px;
}
#u186 {
  position:absolute;
  left:2px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:778px;
  top:1128px;
  width:192px;
  height:40px;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:41px;
}
#u188 {
  position:absolute;
  left:2px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:393px;
  top:1199px;
  width:192px;
  height:80px;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:81px;
}
#u190 {
  position:absolute;
  left:2px;
  top:32px;
  width:188px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:585px;
  top:1239px;
  width:192px;
  height:40px;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:41px;
}
#u192 {
  position:absolute;
  left:2px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:777px;
  top:1239px;
  width:192px;
  height:40px;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:41px;
}
#u194 {
  position:absolute;
  left:2px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:131px;
  top:1199px;
  width:263px;
  height:120px;
  font-size:16px;
  color:#FFFFFF;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:121px;
}
#u196 {
  position:absolute;
  left:2px;
  top:50px;
  width:259px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:394px;
  top:1279px;
  width:192px;
  height:40px;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:41px;
}
#u198 {
  position:absolute;
  left:2px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:585px;
  top:1279px;
  width:192px;
  height:40px;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:41px;
}
#u200 {
  position:absolute;
  left:2px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:777px;
  top:1279px;
  width:192px;
  height:40px;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:41px;
}
#u202 {
  position:absolute;
  left:2px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:585px;
  top:1199px;
  width:383px;
  height:40px;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:41px;
}
#u204 {
  position:absolute;
  left:2px;
  top:12px;
  width:379px;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:393px;
  top:1348px;
  width:192px;
  height:120px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:121px;
}
#u206 {
  position:absolute;
  left:2px;
  top:52px;
  width:188px;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:585px;
  top:1388px;
  width:192px;
  height:40px;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:41px;
}
#u208 {
  position:absolute;
  left:2px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:777px;
  top:1388px;
  width:192px;
  height:40px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:41px;
}
#u210 {
  position:absolute;
  left:2px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:131px;
  top:1348px;
  width:263px;
  height:120px;
  font-size:16px;
  color:#FFFFFF;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:121px;
}
#u212 {
  position:absolute;
  left:2px;
  top:50px;
  width:259px;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:585px;
  top:1428px;
  width:192px;
  height:40px;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:41px;
}
#u214 {
  position:absolute;
  left:2px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:777px;
  top:1428px;
  width:192px;
  height:40px;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:41px;
}
#u216 {
  position:absolute;
  left:2px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:585px;
  top:1348px;
  width:192px;
  height:40px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:41px;
}
#u218 {
  position:absolute;
  left:2px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:777px;
  top:1348px;
  width:192px;
  height:40px;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:41px;
}
#u220 {
  position:absolute;
  left:2px;
  top:12px;
  width:188px;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:749px;
  top:120px;
  width:219px;
  height:50px;
  color:#FFFFFF;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:51px;
}
#u222 {
  position:absolute;
  left:2px;
  top:13px;
  width:215px;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:367px;
  top:389px;
  visibility:hidden;
}
#u223_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u223_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u224 {
  position:absolute;
  left:0px;
  top:30px;
  width:465px;
  height:290px;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:291px;
}
#u225 {
  position:absolute;
  left:2px;
  top:137px;
  width:461px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:30px;
  color:#FFFFFF;
  text-align:left;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:31px;
}
#u227 {
  position:absolute;
  left:2px;
  top:7px;
  width:461px;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:425px;
  top:4px;
  width:27px;
  height:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u230 {
  position:absolute;
  left:90px;
  top:104px;
  width:315px;
  height:76px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:77px;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:99px;
  top:0px;
  width:1001px;
  height:77px;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:78px;
}
#u234 {
  position:absolute;
  left:2px;
  top:30px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:118px;
  top:10px;
  width:266px;
  height:54px;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:55px;
}
#u236 {
  position:absolute;
  left:2px;
  top:19px;
  width:262px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:402px;
  top:36px;
  width:217px;
  height:26px;
}
#u237_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:223px;
  height:32px;
}
#u238 {
  position:absolute;
  left:3px;
  top:3px;
  width:216px;
  height:25px;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
}
#u240 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:100px;
  top:0px;
  width:111px;
  height:20px;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u242 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:894px;
  top:10px;
  width:92px;
  height:55px;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:56px;
}
#u244 {
  position:absolute;
  left:2px;
  top:20px;
  width:88px;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:996px;
  top:10px;
  width:92px;
  height:55px;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:56px;
}
#u246 {
  position:absolute;
  left:2px;
  top:20px;
  width:88px;
  word-wrap:break-word;
}
#u247 {
  position:absolute;
  left:584px;
  top:72px;
  width:402px;
  height:305px;
  overflow:hidden;
  visibility:hidden;
}
#u247_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:305px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u247_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u248 {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:294px;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:295px;
}
#u249 {
  position:absolute;
  left:2px;
  top:139px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:30px;
  font-size:20px;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:31px;
}
#u251 {
  position:absolute;
  left:2px;
  top:3px;
  width:384px;
  word-wrap:break-word;
}
#u252 {
  position:absolute;
  left:355px;
  top:7px;
  width:33px;
  height:16px;
  text-decoration:underline;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:17px;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u254 {
  position:absolute;
  left:25px;
  top:56px;
  width:92px;
  height:17px;
  font-size:15px;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:18px;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u256 {
  position:absolute;
  left:25px;
  top:108px;
  width:92px;
  height:17px;
  font-size:15px;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:18px;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u258 {
  position:absolute;
  left:25px;
  top:160px;
  width:92px;
  height:17px;
  font-size:15px;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:18px;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u260 {
  position:absolute;
  left:25px;
  top:244px;
  width:215px;
  height:31px;
  font-size:20px;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:32px;
}
#u260_img.mouseOver {
}
#u260.mouseOver {
}
#u261 {
  position:absolute;
  left:2px;
  top:4px;
  width:211px;
  word-wrap:break-word;
}
#u262 {
  position:absolute;
  left:117px;
  top:56px;
  width:214px;
  height:25px;
}
#u262_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u262_input {
  font-family:'应用字体';
}
#u263 {
  position:absolute;
  left:117px;
  top:108px;
  width:214px;
  height:26px;
}
#u263_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u263_input {
  font-family:'应用字体';
}
#u264 {
  position:absolute;
  left:333px;
  top:118px;
  width:69px;
  height:16px;
  text-decoration:underline;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
}
#u265 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u266 {
  position:absolute;
  left:117px;
  top:152px;
  width:153px;
  height:31px;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:32px;
}
#u267 {
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u268 {
  position:absolute;
  left:274px;
  top:161px;
  width:111px;
  height:16px;
  text-decoration:underline;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
}
#u269 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u270 {
  position:absolute;
  left:25px;
  top:212px;
  width:188px;
  height:16px;
}
#u271 {
  position:absolute;
  left:16px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u270_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u272 {
  position:absolute;
  left:231px;
  top:212px;
  width:100px;
  height:16px;
}
#u273 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u272_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u274 {
  position:absolute;
  left:250px;
  top:244px;
  width:120px;
  height:31px;
  font-size:20px;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:32px;
}
#u275 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
